<div class="container-fluid mt-2" *ngIf="activeAlerts" >
  <h4>Active Alerts</h4>
  <!-- Accordian -->
  <mat-expansion-panel *ngFor="let item of activeAlerts | keyvalue">
    <mat-expansion-panel-header  (click)="getAreaAlert(item.key)">

      <!-- Area Description -->
      <mat-panel-description>
        <div>{{item.key}} : </div>
        <div>{{item.value}}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Loading Spinner -->
    <div class="text-center" *ngIf="!areaAlert[item.key] && !errorAlert[item.key]">
      <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- Error Response -->
    <div class="alert alert-danger" role="alert" *ngIf="errorAlert[item.key] && !areaAlert[item.key]">
      {{errorAlert[item.key].message}}
    </div>

    <!-- Area Information -->
    <div class="container" *ngIf="areaAlert[item.key]">
      <p class="text-uppercase">{{areaAlert[item.key].title}}</p>
      <p>Zones:</p>
      <div class="row" *ngFor="let feature of areaAlert[item.key].features; let i = index">
        <div class="col-10">{{feature.properties.areaDesc}}</div>
        <div class="col-2">
          <button type="button" class="btn btn-warning btn-sm" (click)="routeToDescription(i, item.key)">View</button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>
