<h5>{{areaDescription.properties.areaDesc}}</h5>

<div class="flexbox-container">
  <div class="flex-item">
    <header>Message</header>
    <p>{{areaDescription.properties.messageType}}</p>
  </div>
  <div class="flex-item">
    <header>Event</header>
    <p>{{areaDescription.properties.event}}</p>
  </div>
  <div class="flex-item">
    <header>Headline</header>
    <p>{{areaDescription.properties.headline}}</p>
  </div>
  <div class="flex-item">
    <header>Instructions</header>
    <p>{{areaDescription.properties.instruction}}</p>
  </div>
  <div class="flex-item">
    <header>Description</header>
    <p>{{areaDescription.properties.description}}</p>
  </div>
</div>
